*{
    margin:0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;/*Alinhar no centro*/
    justify-content: center;/*alinhar no centro tbm*/
    gap: 3vh;
    /*cor do fundo*/
    background-color: rgb(202, 167, 167);
    /*cor da letra*/
    color: rgb(88, 8, 8);
}
/*função do botão*/
button{
    padding: 10px;
    font-size: large;
    border-radius: 10px;
    /*mudar cor delo botão*/
    background-color: rgb(75, 36, 36);
    color: rgb(234, 216, 212);
    box-shadow: 0 0 5px #661f1f ;
     border: solid 1 #ffcbcb;
     cursor: pointer;
}
button:hover{
    background-color: #7a5151;


}